/*===CUSTOM===*/

@-webkit-keyframes BRGactive {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes BRGactive {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.BRGactive {
  -webkit-animation-name: BRGactive 0.3s linear 0s forwards;
  animation: BRGactive 0.3s linear 0s forwards;
}

@-webkit-keyframes BRGhide {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes BRGhide {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.BRGhide {
  -webkit-animation: BRGhide 0.3s linear 0s forwards;
  animation: BRGhide 0.3s linear 0s forwards;
}

@-webkit-keyframes call-me {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  90% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  91%,
  92% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  93%,
  95%,
  97%,
  99% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  94%,
  96%,
  98% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes call-me {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  90% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  91%,
  92% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  93%,
  95%,
  97%,
  99% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  94%,
  96%,
  98% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.call-me {
  -webkit-animation-name: tada;
  animation-name: tada;
}

@-webkit-keyframes PDhide {
  from {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  to {
    opacity: 0;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
}
/* 
@keyframes PDhide {
  from {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  to {
    opacity: 0;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
}

.page-doctors__item-hide {
  opacity: 1;
  -moz-animation-name: PDhide;
  -webkit-animation-name: PDhide;
  animation-name: PDhide;
  -moz-animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
} */

/* @-webkit-keyframes PDunhide {
  from {
    opacity: 0;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
  10% {
    opacity: 1;
  }
  to {
    opacity: 1;
    height: 100%;
    width: 100%;
    margin: 10px;
  }
}

@keyframes PDunhide {
  from {
    opacity: 0;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
  10% {
    opacity: 1;
  }
  to {
    opacity: 1;
    height: 100%;
    width: 100%;
    margin: 10px;
  }
}

.page-doctors__unhide {
  opacity: 1;
  -moz-animation-name: PDunhide;
  -webkit-animation-name: PDhide;
  animation-name: PDhide;
  -moz-animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
} */

/* @-webkit-keyframes search-anim {
  from {
  }
  to {
  }
}

@keyframes search-anim {
  from {
  }
  to {
  }
}

.search-anim {
  -webkit-animation-name: search-anim;
  animation-name: search-anim;
} */
