//общее
.page-more {
  &__btn {
    text-align: center;
    color: var(--text-white);
    background: var(--main-color);
    border-radius: 3px;
    padding: 10px 20px;
    transition: 0.3s;
    width: 300px;
    align-self: flex-end;
    @media (hover: hover) {
      &:hover {
        background: var(--accent-color);
      }
    }
  }
}

//О НАС
.page-about {
  &__section {
    color: var(--text);
  }

  &__container {
  }

  &__title {
  }

  &__items {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__items-left,
  &__items-right {
    width: 47%;
  }
  &__items-left &__item:nth-child(1) {
    opacity: 0;
    animation: fadeInUp 1s 0s 1 forwards;
    .page-about__item-title::before {
      content: url(../img/about__family.png);
      position: absolute;
    }
  }
  &__items-left &__item:nth-child(2) {
    opacity: 0;
    animation: fadeInUp 1s 0.2s 1 forwards;
    .page-about__item-title::before {
      content: url(../img/about__home.png);
      position: absolute;
      top: -25px;
      right: 0;
    }
  }
  &__items-left &__item:nth-child(3) {
    opacity: 0;
    animation: fadeInUp 1s 0.4s 1 forwards;
  }
  &__items-left &__item:nth-child(4) {
    opacity: 0;
    animation: fadeInUp 1s 0.4s 1 forwards;
    .page-about__item-title::before {
      content: url(../img/about__healthcare.png);
      position: absolute;
      bottom: 0;
    }
  }

  &__items-right &__item:nth-child(1) {
    opacity: 0;
    animation: fadeInUp 1s 0.6s 1 forwards;
    margin-bottom: 150px;
    .page-about__item-title::before {
      content: url(../img/about__electrocardiogram.png);
      position: absolute;
    }
  }
  &__items-right &__item:nth-child(2) {
    opacity: 0;
    animation: fadeInUp 1s 0.8s 1 forwards;
    .page-about__item-title::before {
      content: url(../img/about___education.png);
      position: absolute;
      top: -130px;
      right: 0;
    }
  }
  &__items-right &__item:nth-child(3) {
    opacity: 0;
    animation: fadeInUp 1s 1s 1 forwards;
    .page-about__item-title::before {
      content: url(../img/about__happy-house.png);
      position: absolute;
      top: -50px;
    }
  }
  &__items-right &__item:nth-child(4) {
    opacity: 0;
    animation: fadeInUp 1s 1s 1 forwards;
  }

  &__item {
    display: flex;
    margin-bottom: 50px;
    min-width: 50%;
    max-width: 100%;
  }

  &__item-title {
    position: relative;
    width: 285px;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: var(--main-color);
  }

  &__item-text {
    width: 400px;
    font-size: 16px;
    line-height: 1.5;
  }

  &__item--left {
    .page-about__item-title {
      text-align: left;
    }
  }

  &__item--right {
    .page-about__item-title {
      text-align: right;
    }
  }

  &__item--wide {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 685px;
    .page-about__item-title {
      width: 100%;
      text-align: center;
    }
    .page-about__item-text {
      margin-bottom: 30px;
      width: 100%;
    }
  }
}

//БЛОГ О ЗДОРОВЬЕ
.page-blog {
  &__section {
  }

  &__container {
  }

  &__title {
    & span {
      font-size: inherit;
      font-weight: 300;
      color: var(--main-color);
    }
  }

  &__items {
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item-link {
    position: relative;
    width: 48.5%;
    // max-width: 780px;
    // min-width: 300px;
    max-height: 360px;
    margin-bottom: 3.5%;
    overflow: hidden;
    transition: 0.3s;
    border-radius: 3px;
    @media (hover: hover) {
      &:hover {
        box-shadow: var(--shadow-hover);
        transform: translateY(-3px);
      }
    }
  }
  &__item-link:nth-child(odd) {
    margin-right: 2.5%;
  }
  &__item {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    vertical-align: bottom;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(107, 166, 182, 0.5);
      transition: background-color 0.3s;
    }
    @media (hover: hover) {
      &:hover::after {
        background-color: rgba(107, 166, 182, 0.1);
      }
    }
  }

  &__item-img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 3px;
    // filter: grayscale(1);
    transition: filter 0.3s;
  }
  &__item-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1vw;
  }
  &__item-type {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    background: rgba($color: #000, $alpha: 0.3);
    padding: 10px 15px;
    border-radius: 0 3px 0 3px;
    z-index: 1;
  }
  &__item-date,
  &__item-title,
  &__item-text {
    color: var(--text-white);
    background: none;
    padding: 3px 6px;
    transition: 0.3s;
    margin-bottom: 5px;
    width: fit-content;
    z-index: 1;
    background: rgba($color: #000, $alpha: 0.3);
  }
  &__item-date {
    font-size: 12px;
  }

  &__item-title {
    // font-size: 24px;
    font-size: calc(16px + 14 * ((100vw - 320px) / (1920 - 320)));
    font-weight: 500;
  }

  &__item-text {
    overflow: hidden;
    // font-size: 16px;
    font-size: calc(14px + 10 * ((100vw - 320px) / (1920 - 320)));
    text-align: left;
  }
}

//ЗАПИСЬ БЛОГА О ЗДОРОВЬЕ
.page-blog-note {
  &__section {
  }

  &__container {
  }

  &__title {
  }

  &__items {
    margin-top: 40px;
    * {
      font-size: revert;
      font-weight: revert;
    }
  }

  &__item {
    max-width: 800px;
  }

  &__item-date {
    font-size: 12px;
    color: var(--main-color);
    margin-bottom: 10px;
  }

  &__item-title {
    // font-size: 24px;
    font-size: calc(16px + 6 * ((100vw - 320px) / (1920 - 320)));
    font-weight: 500;
    line-height: 1;
    color: var(--text);
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  &__item-content {
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
    margin-bottom: 30px;
    img {
      width: 100%;
      height: auto;
      margin: 0;
    }
    p {
      font-size: 16px;
      line-height: 1.5;
      color: var(--text) !important;
      margin-bottom: 15px;
    }
    a {
      text-decoration: underline;
      font-weight: inherit;
    }
    ul,
    ol {
      margin-bottom: 15px;
      padding-left: 1.3em;
    }
    li {
      margin-bottom: initial;
      display: list-item;
    }
    ul li {
      list-style: disc;
    }
    ol li {
      list-style: decimal;
    }
    //обнуляем WP стили
    .wp-block-image,
    .wp-block-cover {
      margin: 30px 0;
    }
  }
  &__item-tags {
    color: var(--text-color-news-text);
    font-size: 14px;
    margin: 50px 0 15px;
    a {
      font-size: 14px;
      transition: 0.1s;
      color: var(--main-color);
      @media (hover: hover) {
        &:hover {
          color: var(--accent-color);
        }
      }
    }
    p {
      font-size: inherit;
    }
  }

  &__hints-container {
    display: block;
    position: fixed;
    height: 100vh;
    right: 3vw;
    left: 3vw;
    top: 11vw;
    pointer-events: none;
    background-color: transparent !important;
    z-index: 9;
  }
  &__hints-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: transparent !important;
  }

  &__hints-modal {
    pointer-events: none;
    position: relative;
    background: #e5f0f2;
    max-width: 450px;
    margin-bottom: 0;
    padding: 0;
    border-radius: 3px;
    box-shadow: var(--shadow-hover);
    opacity: 0;
    right: 0;
    height: 0;
    transition: 0.5s;
  }

  &__hints-modal-on {
    animation: fadeInUp 1s forwards;
    margin-bottom: 50px;
    height: auto;
    pointer-events: auto;
  }

  &__hints-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    text-align: center;
    color: var(--main-color);
    transition: 0.3s;
    @media (hover: hover) {
      &:hover {
        color: var(--accent-color);
        transform: rotate(90deg);
      }
    }
    i {
      font-size: 16px;
      font-weight: 900;
      width: 16px;
      margin: 0;
      padding: 0;
    }
  }
  &__hints-desc {
    padding: 30px;
  }
  &__hints-link {
    width: calc(100% - 20px);
    text-align: center;
    padding: 8px;
    margin: 0 10px 10px;
    background: var(--main-color);
    color: var(--text-white);
    border-radius: 3px;
    transition: 0.1s;
    @media (hover: hover) {
      &:hover {
        background: var(--accent-color);
      }
    }
  }

  &__hints-modal-1 {
    animation-delay: 5s;
  }

  &__hints-modal-2 {
    animation-delay: 15s;
  }

  &__hints-modal-3 {
    animation-delay: 30s;
  }
}
#page-blog-note__hints-container,
#page-blog-note__hints-inner {
  background-color: transparent !important;
}

//СПИСОК АКЦИЙ
.page-sales {
  &__section {
  }

  &__container {
  }

  &__title {
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    flex-wrap: wrap;
    & + .section__description {
      margin-top: 80px;
    }
  }
  &__item-link {
    padding: 0;
    margin-bottom: 30px;
    transition: all 0.3s;
    width: 48.5%;
    @media (hover: hover) {
      &:hover {
        box-shadow: var(--shadow-hover);
        transform: translateY(-3px);
      }
    }
  }
  &__item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    & img {
      position: relative;
      width: 35%;
      height: 100%;
      max-height: 200px;
      display: block;
      object-position: center;
      object-fit: cover;
    }
  }

  &__item-text-box {
    padding: 15px 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__item-date {
    font-size: 12px;
    color: var(--main-color);
    margin-bottom: 10px;
  }

  &__item-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    color: var(--text);
    margin-bottom: 10px;
  }

  &__item-text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
    overflow: hidden;
  }
}

//ВРАЧИ НА ГЛАВНОЙ
.page-doctors {
  color: var(--text);
  &__section {
    background-image: linear-gradient(
      12deg,
      #aaffe6,
      rgba(107, 166, 182, 0.52),
      rgba(107, 166, 182, 0.39),
      rgba(107, 166, 182, 0.21)
    );
    background-attachment: fixed;
  }

  &__container {
  }

  &__title {
  }

  &__filter-box {
    display: flex;
  }

  &__filter-item {
    cursor: pointer;
    margin: 20px 10px 0 0;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 3px;
    transition: all 0.1s;
    &--off {
      color: var(--main-color);
      border: 1px solid var(--main-color);
    }
    &--on {
      color: var(--text-white);
      background: var(--main-color);
      border: 1px solid var(--main-color);
    }
  }

  &__items {
    margin-top: 60px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &__item {
    position: relative;
    margin: 10px 10px 40px 10px;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    width: auto !important;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    @media (hover: hover) {
      &:hover .page-doctors__btn {
        border-radius: 0 0 3px 3px;
      }
      &:hover .page-doctors__item-link {
        transform: translateY(-42px);
      }
      &:hover .page-doctors__disc {
        border-radius: 0;
      }
    }
  }
  &__item-link {
    position: relative;
    max-width: 240px;
    transition: 0.3s;
  }
  &__item-hide {
    // opacity: 0;
    // width: 0;
    // margin: 0;
    // padding: 0;
    // border: 0;
    // flex-grow: 0;
    display: none;
  }

  &__img {
    display: block;
    background: #fff;
    width: 100%;
    height: 330px;
    object-fit: cover;
    object-position: center;
    border-radius: 3px 3px 0 0;
  }

  &__disc {
    background: #fff;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 0 3px 3px;
  }

  &__name {
    text-align: center;
    color: var(--text);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    padding: 5px;
    text-transform: uppercase;
  }

  &__spec {
    text-align: center;
    color: var(--main-color);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.35px;
    padding: 5px;
    text-transform: uppercase;
  }

  &__btn {
    position: absolute;
    bottom: 0;
    margin-top: 3px;
    text-align: center;
    border-radius: 3px;
    width: 100%;
    transition: 0.3s;
    display: block;
    height: 42px;
    max-width: 240px;
    width: 100%;
    color: var(--text-white);
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    padding: 5px;
    transition: 0.3s;
    background: var(--main-color);
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    @media (hover: hover) {
      &:hover {
        background: var(--accent-color);
      }
    }
  }
}

//СТРАНИЦА ВРАЧА
.page-doctor {
  color: var(--text);
  &__section {
  }
  &__section {
  }

  &__container {
  }

  &__title {
  }

  &__items {
    margin-top: 30px;
    align-items: flex-start;
  }

  &__item-img {
    width: 460px;
    max-width: 40%;
    height: auto;
    object-fit: contain;
    object-fit: cover;
    border-radius: 3px;
    margin-right: 40px;
  }

  &__item-textbox {
    position: relative;
    width: 100%;
  }

  &__item-icons {
    margin-bottom: 25px;
    & i,
    & svg {
      position: relative;
      font-size: 30px;
      margin-right: 20px;
      color: var(--main-color);
      @media (hover: hover) {
        &:hover::after {
          position: absolute;
          content: attr(data-title);
          font-family: "Roboto", sans-serif;
          font-size: 14px;
          font-weight: 400;
          background: rgba(255, 255, 255, 0.8);
          color: var(--text);
          top: -45px;
          left: 0;
          width: auto;
          white-space: nowrap;
          z-index: 1;
          border: 1px solid var(--main-color);
          border-radius: 3px;
          padding: 10px;
        }
      }
    }
  }

  &__item-title {
    width: calc(100% - 150px);
    font-size: 24px;
    font-weight: 500;
    color: var(--text);
  }

  &__item-btn {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    text-align: center;
    background: var(--main-color);
    color: var(--text-white);
    border-radius: 3px;
    padding: 10px 20px;
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
    @media (hover: hover) {
      &:hover {
        background: var(--accent-color);
      }
    }
  }

  &__item-spec {
    margin-top: 20px;
    color: var(--main-color);
  }

  &__item-experience,
  &__item-categories {
    margin-top: 10px;
    opacity: 0.6;
    font-size: 12px;
  }

  &__item-text {
    margin-top: 25px;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
    p {
      font-size: 16px;
      line-height: 1.5;
      color: var(--text);
      margin-bottom: 15px;
    }
    a {
      text-decoration: underline;
      font-weight: inherit;
    }
    ul {
      list-style: disc;
      margin-bottom: 15px;
      padding-left: 1.3em;
    }
    li {
      margin-bottom: initial;
      list-style: disc;
      display: list-item;
    }
    //обнуляем WP стили
    .wp-block-image,
    .wp-block-cover {
      margin: 30px 0;
    }
  }
}

//УЛСУГИ
.page-services {
  &__section {
  }

  &__container {
    justify-content: flex-start;
    min-height: 100vh;
  }

  &__title {
  }

  &__link-container {
    position: relative;
    padding: 0 100%;
    margin: 0 -100%;
    background-color: #e5f0f2;
    z-index: 1;
  }

  &__inner {
    padding: 0 100%;
    margin: 0 -100%;
    margin-top: 25px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__link {
    position: relative;
    display: flex;
    flex: none;
    align-items: center;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26;
    letter-spacing: 0.48px;
    color: var(--text);
    margin: 35px 20px;
    transition: 0.1s;
    &:nth-child(1) {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &::before,
    &--active::before {
      content: "";
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      bottom: -10px;
      text-align: center;
      width: 0;
      height: 2px;
      background-color: #595959;
      transition: all 0.3s;
    }
    @media (hover: hover) {
      &:hover {
        &::before {
          width: 100%;
        }
      }
    }
    &:target {
      color: var(--main-color);
    }
    &--active {
      &::before {
        width: 100%;
      }
    }
  }

  &__link-img {
    margin-right: 15px;
    height: 100%;
  }

  &__items {
    margin-top: 50px;
  }

  &__item {
    width: 100%;
    display: none;
    &--active {
      display: block;
      animation: fadeIn 0.8s forwards;
    }
  }

  &__item-title {
    // font-size: 24px;
    font-size: calc(18px + 16 * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0.6px;
    color: var(--main-color);
    margin-bottom: 35px;
    text-transform: uppercase;
  }

  &__item-box {
    // height: 100%;
    text-align: justify;
  }

  &__item-box-left,
  &__item-box-right {
    display: inline-block;
    width: 48%;
    vertical-align: top;
  }
  &__item-box-left {
    margin-right: 3%;
  }

  &__category,
  &__category-child {
    // background: rgba($color: #6ba6b6, $alpha: 0.08);
    background: #f3f8f9;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: inline-block;
  }
  &__category-child {
    margin-bottom: 0;
  }
  &__category-hide {
    display: none;
  }
}

.category {
  &__description,
  &__description-child {
    position: relative;
    background: #e5f0f2;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 48px;
    &--active .category__btn-strip-2,
    &--active .category__btn-strip-2-child {
      transform: rotate(180deg);
    }
    &--active {
      & + .category__service-description-box,
      & + .category__service-description-box-child {
        height: 100%;
      }
    }
    a {
      display: flex;
      align-items: center;
      @media (hover: hover) {
        &:hover {
          span {
            color: var(--accent-color);
            opacity: 1;
            right: 0;
          }
          i {
            color: var(--accent-color);
          }
        }
      }
    }
    span {
      position: relative;
      color: var(--main-color);
      font-size: 12px;
      transition: 0.2s linear;
      opacity: 0;
      right: -7px;
    }
    i {
      color: var(--main-color);
      font-size: 20px;
      margin-left: 5px;
      transition: 0.2s linear;
    }
  }
  &__description-child {
    background: lighten($color: #e5f0f2, $amount: 2%);
    i {
      font-size: 17px;
    }
  }

  &__title,
  &__title-child {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.5px;
    text-align: left;
    color: var(--main-color);
    padding: 10px 50px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title-child {
    font-weight: 500;
    font-size: 16px;
    color: var(--text);
  }

  &__btn,
  &__btn-child {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    @media (hover: hover) {
      &:hover .category__btn-strip-1,
      &:hover .category__btn-strip-2 {
        background: var(--accent-color);
      }
    }
  }
  &__btn-child {
    width: 15px;
    height: 15px;
  }

  &__btn-inner,
  &__btn-inner-child {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__btn-strip-1,
  &__btn-strip-2,
  &__btn-strip-1-child,
  &__btn-strip-2-child {
    position: absolute;
    display: block;
    width: 20px;
    height: 4px;
    border-radius: 3px;
    background: var(--main-color);
    top: 8px;
    transition: 0.1s;
  }
  &__btn-strip-1-child,
  &__btn-strip-2-child {
    width: 15px;
    height: 3px;
    top: 5px;
  }

  &__btn-strip-1,
  &__btn-strip-1-child {
  }

  &__btn-strip-2,
  &__btn-strip-2-child {
    transform: rotate(90deg);
    transition: 0.3s;
  }

  &__service-description,
  &__service-description-child {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      width: calc(100% - 40px);
      height: 2px;
      margin: 0 20px;
      background: rgba($color: #6ba6b6, $alpha: 0.23);
    }
    &:last-child::after {
      background: transparent;
    }
  }
  &__service-description-box,
  &__service-description-box-child {
    height: 0;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  &__service-title,
  &__service-price,
  &__service-title-child,
  &__service-price-child {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.35px;
    text-align: left;
    color: var(--text);
    padding: 15px 20px;
  }
}

//страница результатов поиска
.page-search {
  &__items {
    display: flex;
    flex-direction: column;
    // align-items: center;
    margin-top: 60px;
  }
  &__item-link {
    width: 100%;
    max-width: 800px;
    border: 1px solid rgba($color: #08bfcc, $alpha: 0.3);
    border-radius: 3px;
    margin-bottom: 40px;
    transition: 0.3s;
    @media (hover: hover) {
      &:hover {
        box-shadow: var(--shadow-hover);
        transform: translateY(-3px);
      }
    }
  }

  &__item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__item-img {
    display: block;
    width: 248px;
    height: 180px;
    object-fit: cover;
    &--docs {
      width: 130px;
    }
  }
  &__item-box {
    padding: 35px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__item-type {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--text-white);
    background: rgba($color: #08bfcc, $alpha: 0.3);
    padding: 3px 10px;
    border-radius: 0 0 3px 0;
    font-size: 13px;
  }
  &__item-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px;
  }
  &__item-doctors-spec,
  &__item-date {
    color: var(--main-color);
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.35px;
    margin-top: 3px;
  }
  &__item-text {
    margin-top: 15px;
  }
}
