/*===sections style===*/
.section {
	width: 100%;
	min-height: 100vh;

	&__container {
		width: 100%;
		// min-height: 100%;
		position: relative;
		// padding: 160px 0 100px 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		grid-area: content;
	}

	&__description {
		position: relative;
		width: 100%;
	}

	&__search {
		z-index: 4;
	}

	&__search-form {
		display: flex;
		flex-direction: row;
		margin-top: 40px;
		// width: 320px;
		& input {
			width: 100%;
			font-size: 18px;
			border-radius: 3px 0 0 3px;
		}
	}
	&__search-btn {
		display: flex;
		align-self: flex-end;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		border: none;
		width: 42px;
		height: 42px;
		border-radius: 0 3px 3px 0;
		font-size: 14px;
		line-height: 1.29;
		letter-spacing: 0.35px;
		color: var(--text-white);
		background: var(--main-color);
		transition: 0.1s;
		outline: none;
		@media (hover: hover) {
			&:hover {
				background: var(--accent-color);
				outline: none;
			}
		}
		&:active {
			border: none;
			outline: none;
		}
	}

	&__title {
		// font-size: 36px;
		font-size: calc(20px + 16 * ((100vw - 320px) / (1920 - 320)));
		font-weight: 600;
		text-transform: uppercase;
		color: var(--text);
		max-width: 850px;
	}
	&__text {
		max-width: 850px;
		margin-top: 20px;
		color: var(--text);
		font-size: 16px;
		font-weight: 400;
	}
	&__link {
		margin-top: 20px;
		color: var(--text);
		font-size: 14px;
		font-weight: 300;
		border: 1px solid var(--text);
		border-radius: 3px;
		padding: 5px 20px;
		transition: 0.1s;
		& i {
			margin-right: 5px;
			vertical-align: middle;
			transition: 0.1s;
		}
		@media (hover: hover) {
			&:hover {
				background: var(--accent-color);
				color: var(--text-white);
				border: 1px solid var(--accent-color);
				& i {
					color: var(--text-white);
				}
			}
		}
	}
	&__link--blue {
		color: var(--main-color);
		border: 1px solid var(--main-color);
		transition: all 0.1s;
		@media (hover: hover) {
			&:hover {
				border: 1px solid var(--accent-color);
				color: var(--text-white);
				& i {
					color: var(--text-white);
				}
			}
		}
	}
	&__items {
		display: flex;
		margin-top: 50px;
	}
}

/*===slider style===*/

.slider {
	&__section {
		min-height: auto !important;
	}
	&__arrow-box {
	}
	&__arrow {
		position: absolute;
		z-index: 4;
		top: 50%;
		width: 0;
		height: 0;
		margin-top: -32px;
		cursor: pointer;
		transform: scale(4);
		color: var(--text-color-section-title);
		transition: 0.2s;
		@media (hover: hover) {
			&:hover {
				color: var(--accent-color);
			}
		}
	}
	// &__arrow--left {
	// 	left: 30px;
	// }
	// &__arrow--right {
	// 	right: 60px;
	// }
}
.slide {
	width: 100%;
	max-height: 100vh;

	&__box {
		position: relative;
		height: 100vh;
	}
	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-position: center;
		object-fit: cover;
	}
	&__text-box {
		position: absolute;
		right: 10%;
		bottom: 20%;
		width: 400px;
		max-width: 100%;
	}
	&__text {
		// font-size: 48px;
		font-size: calc(20px + 16 * ((100vw - 320px) / (1920 - 320)));
		font-weight: 500;
		color: var(--text);
		text-align: left;
		line-height: 130%;
	}
	&__btn {
		width: fit-content;
		margin: 30px 0 0 0;
		padding: 3px 50px;
		box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.15);
		transition: 0.1s;
	}
}
/*===services style===*/

.services {
	&__section {
		background: var(--bg2);
		background-attachment: fixed;
	}

	&__container {
	}

	&__title {
		color: var(--text-white);
	}
	&__text {
		color: var(--text-white);
	}
	&__link {
		color: var(--text-white);
		border: 1px solid var(--text-white);
		transition: all 0.1s;
		@media (hover: hover) {
			&:hover {
				background: var(--text-white);
				color: var(--accent-color);
				border: 1px solid var(--text-white);
				& i {
					color: var(--accent-color);
				}
			}
		}
	}

	&__items {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		flex-wrap: wrap;
		margin-top: 115px;
		img {
			width: auto;
		}
	}

	&__item-link {
	}

	&__item {
		position: relative;
		text-align: center;
		width: 100%;
		@media (hover: hover) {
			&:hover .services__item-img {
				transform: translateY(-5px);
			}
			&:hover .services__item-text {
				&::before {
					width: 100%;
				}
			}
		}
	}

	&__item-img {
		display: block;
		margin: auto;
		transition: all 0.3s !important;
		padding-bottom: 20px;
	}

	&__item-text {
		position: relative;
		display: inline;
		font-size: 20px;
		font-weight: 600;
		color: var(--text-white);
		text-align: center;
		&::before {
			content: "";
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			bottom: -10px;
			text-align: center;
			width: 0;
			height: 2px;
			background: var(--text-white);
			transition: all 0.3s;
		}
	}
}

/*==about style===*/

.about {
	&__section {
		display: block;
		margin: 0;
	}

	&__container {
	}

	&__title {
	}

	&__items {
		// margin-top: 75px;
		color: var(--text);
		// display: flex;
		// justify-content: space-around;
		// align-items: flex-start;
		// flex-wrap: wrap;
		display: grid;
		grid-template-columns: repeat(10, 1fr);
		grid-row-gap: 5vw;
	}

	&__item {
		position: relative;
		padding-left: 3%;
		margin: 2%;
	}

	&__item-1 {
		grid-column: 1/3;
	}

	&__ball {
		position: absolute;
		top: 0;
		left: 0;
		width: 10.5vw;
		height: 10.5vw;
		border-radius: 100%;
	}

	&__ball-1 {
		background-image: linear-gradient(to right, #6ba6b6, #aaffe6);
	}

	&__num {
		position: relative;
		text-transform: uppercase;
		font-size: 7.55vw;
		font-weight: 500;
		white-space: nowrap;
		margin-bottom: -5%;
		left: 2vw;
	}

	&__num-1 {
	}

	&__text {
		position: relative;
		text-transform: uppercase;
		font-weight: 500;
		white-space: nowrap;
		left: 2vw;
	}

	&__text-1 {
		font-size: 1.8vw;
	}

	&__item-2 {
		grid-column: 4/7;
	}

	&__ball-2 {
		background-image: linear-gradient(to left, #6ba6b6, #aaffe6);
	}

	&__num-2 {
	}

	&__text-2 {
		font-size: 1.8vw;
		// left: 4%;
	}

	&__item-3 {
		grid-column: 8/11;
	}

	&__ball-3 {
		background: #6ba6b6;
	}

	&__num-3 {
	}

	&__text-3 {
		font-size: 1.8vw;
	}

	&__item-4 {
		grid-column: 3/5;
	}

	&__ball-4 {
		background-image: linear-gradient(to right, #6ba6b6 2%, #aaffe6 70%, #aaffe6);
	}

	&__num-4 {
	}

	&__text-4 {
		font-size: 2.3vw;
		// left: 3.5%;
	}

	&__item-5 {
		grid-column: 7/9;
	}

	&__ball-5 {
		background: #aaffe6;
	}

	&__num-5 {
	}

	&__text-5 {
		font-size: 2.5vw;
		// left: 3.5%;
	}
}

/*===doctors style===*/

.doctors {
	color: var(--text);
	&__section {
		background: var(--bg4);
		background-attachment: fixed;
	}

	&__container {
	}

	&__title {
	}

	&__items {
		position: relative;
		margin-top: 60px;

		.slick-slide {
			// margin: 60px 25px 0 0;
			margin: 10px;
		}
		.slick-arrows {
			cursor: pointer;
			transform: scale(2);
			color: var(--text-color-section-title);
			position: absolute;
			top: 45%;
			transition: 0.2s;
			@media (hover: hover) {
				&:hover {
					color: var(--accent-color);
				}
			}
		}
		.slick-prev {
			left: -15px;
		}
		.slick-next {
			right: -15px;
		}
	}

	&__item {
		position: relative;
		margin: 5px;
		margin: 10px 10px 40px 10px;
		border-radius: 3px 3px 0 0;
		text-align: center;
		overflow: hidden;
		width: auto !important;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
		@media (hover: hover) {
			&:hover .doctors__btn {
				border-radius: 0 0 3px 3px;
			}

			&:hover .doctors__id-link {
				transform: translateY(-42px);
			}

			&:hover .doctors__disc {
				border-radius: 0;
			}
		}
	}

	&__id-link {
		position: relative;
		max-width: 240px;
		width: 100%;
		transition: 0.3s;
	}

	&__img {
		display: block;
		background: #fff;
		width: 100%;
		height: 330px;
		object-fit: cover;
		object-position: center;
		border-radius: 3px 3px 0 0;
	}

	&__disc {
		background: #fff;
		height: 100px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-radius: 0 0 3px 3px;
	}

	&__name {
		text-align: center;
		color: var(--text);
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.35px;
		padding: 5px;
	}

	&__spec {
		text-align: center;
		color: var(--main-color);
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 0.35px;
		padding: 5px;
	}

	&__btn {
		position: absolute;
		bottom: 0;
		margin-top: 3px;
		text-align: center;
		border-radius: 3px;
		width: 100%;
		transition: 0.3s;
		display: block;
		height: 42px;
		max-width: 240px;
		width: 100%;
		color: var(--text-white);
		font-size: 16px;
		font-weight: 500;
		line-height: 32px;
		padding: 5px;
		transition: 0.3s;
		background: var(--main-color);
		border-radius: 3px;
		cursor: pointer;
		user-select: none;
		@media (hover: hover) {
			&:hover {
				background: var(--accent-color);
			}
		}
	}
	&__visit-link {
		margin: auto;
		width: 100%;
		height: 100%;
		color: var(--text-white);
		background: var(--main-color);
		border-radius: 3px;
		font-size: 16px;
		font-weight: 500;
		line-height: 32px;
		padding: 5px;
		transition: 0.3s;
		@media (hover: hover) {
			&:hover {
				background: var(--accent-color);
			}
		}
	}
	&__join-btn {
		margin-top: 50px;
		align-self: flex-end;
		cursor: pointer;
		font-size: 16px !important;
	}
}

/*===news style===*/
.news {
	&__section {
		background: var(--bg5);
		background-attachment: fixed;
	}

	&__container {
		flex-direction: row;
		align-items: center;
	}

	&__block-left {
		max-width: 735px;
		margin-right: 24px;
	}

	&__title {
	}

	&__box {
		position: relative;
		margin-top: 50px;
		height: 530px;
		@media (hover: hover) {
			&:hover .news__link-btn {
				opacity: 1;
			}
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: #fff;
		border-radius: 3px;
		padding: 38px;
		height: 100%;
	}

	&__item {
		position: relative;
		padding: 10px;
		transition: all 0.3s;
		border-radius: 3px;
		width: 100%;
		&::after {
			position: absolute;
			width: 95%;
			border-bottom: 1px solid rgba(149, 149, 149, 0.15);
			content: "";
			bottom: 0px;
		}
		&:last-child::after {
			border: none;
		}
		@media (hover: hover) {
			&:hover {
				background: rgba(149, 149, 149, 0.15);
				// box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.2);
				transform: translateY(-3px);
				&::after {
					border-bottom: 1px solid transparent;
				}
			}
		}
	}

	&__item-title {
		font-size: 18px;
		font-weight: bold;
		letter-spacing: 0.45px;
		color: var(--text);
	}

	&__item-text {
		// display: inline;
		font-size: 16px;
		letter-spacing: 0.4px;
		color: var(--text-color-news-text);
		margin-top: 16px;
		text-overflow: ellipsis;
		overflow: hidden;
		// white-space: nowrap;
		max-height: 35px;
	}

	&__item-date {
		font-size: 12px;
		letter-spacing: 0.3px;
		color: var(--main-color);
		margin-top: 8px;
	}

	&__block-right {
		max-width: 841px;
	}

	&__feedback {
		background: #fff;
		border-radius: 3px;
		padding: 38px;
		height: 335px;
		& form {
			display: flex;
		}
	}

	&__feedback-title {
		font-size: 16px;
		line-height: 1.13;
		letter-spacing: 0.4px;
		color: #787878;
		margin: 39px 12px 33px;
	}

	&__calltodirector {
		display: flex;
		justify-content: space-between;
		background: #fff;
		border-radius: 3px;
		padding: 38px;
		margin-top: 24px;
		height: 171px;
	}
	&__link-btn {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		cursor: pointer;
		border: none;
		font-size: 14px;
		line-height: 1.29;
		letter-spacing: 0.35px;
		color: var(--main-color);
		background: transparent;
		transition: 0.3s;
		outline: none;
		margin-bottom: 10px;
		opacity: 0;
		&:active {
			border: none;
			outline: none;
		}
	}
}
.feedback {
	&__form-left {
		display: flex;
		flex-direction: column;
		padding-right: 15px;
	}
	&__form-right {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	&__input-box {
		position: relative;
	}
	&__input-label {
		position: absolute;
		padding: 6px 16px;
		top: 2px;
		left: 0;
		font-size: 14px;
		line-height: 1.29;
		letter-spacing: 0.35px;
		color: #4040409c;
		transition: 0.1s;
		cursor: text;
	}
	&__input-label-file {
		// width: 180px;
		// height: 50px;
		border-radius: 3px;
		text-align: center;
		cursor: pointer;
		display: block;
		margin-bottom: 30px;
		width: fit-content;
		padding: 5px 20px;
		transition: 0.3s;
		border: 1px solid var(--main-color);
		color: var(--main-color);
		@media (hover: hover) {
			&:hover {
				border: 1px solid var(--accent-color);
				color: var(--accent-color);
			}
		}
	}
	&__input-name,
	&__input-phone,
	&__input-email,
	&__input-textarea {
		width: 100%;
		height: 34px;
		margin-bottom: 20px;
		background: transparent;
		&:focus ~ .feedback__input-label,
		&:not(:placeholder-shown) ~ .feedback__input-label {
			top: -7px;
			left: 15px;
			font-size: 12px;
			background: white;
			padding: 1px;
		}
		&:invalid:not(:placeholder-shown) {
			border-color: red;
		}
	}

	&__input-textarea {
		height: 87px;
	}

	&__input-btn {
		display: flex;
		align-self: flex-end;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		border: none;
		// margin-top: 20px;
		width: 161px;
		height: 32px;
		border-radius: 3px;
		font-size: 14px;
		line-height: 1.29;
		letter-spacing: 0.35px;
		color: var(--text-white);
		background: var(--main-color) !important;
		transition: 0.1s;
		outline: none;
		@media (hover: hover) {
			&:hover {
				background: var(--accent-color) !important;
				outline: none;
			}
		}
		&:active {
			color: var(--text-white);
			background: var(--accent-color) !important;
			border: none;
			outline: none;
		}
		&:focus {
			color: var(--text-white);
			background: var(--accent-color) !important;
			border: none;
			outline: none;
		}
	}
}
.honeypot,
.hp-message {
	display: none;
}
.cf7sr-g-recaptcha {
	margin-bottom: 30px;
	margin-left: auto;
}
.wpcf7-form .wpcf7-response-output,
.wpcf7-form .ajax-loader {
	display: none !important;
}
.calltodirector {
	&__description {
	}

	&__title {
		font-size: 18px;
		font-weight: 600;
		letter-spacing: 0.54px;
		color: var(--text);
	}

	&__text {
		margin-top: 15px;
		max-width: 403px;
		min-width: 300px;
		height: 52px;
		font-size: 16px;
		line-height: 1.13;
		letter-spacing: 0.4px;
		text-align: left;
		color: var(--text-color-section-title);
	}

	&__btn-box {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 287px;
		height: 32px;
		border-radius: 3px;
		font-size: 14px;
		line-height: 1.29;
		letter-spacing: 0.35px;
		color: var(--text-white);
		background-color: var(--main-color);
		transition: 0.1s;
		@media (hover: hover) {
			&:hover {
				background: var(--accent-color);
			}
		}
	}
}

/*==reviews style===*/
.reviews {
	&__container {
	}
	&__title {
	}
	&__items {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		justify-content: space-between;
		margin-top: 120px;
	}
	&__item {
		margin-bottom: 70px;
	}
	&__item + .reviews__item {
		// margin-left: 10px;
		// margin: 0 90px 70px 0;
	}
	&__item-link {
		border: 1px solid transparent;
		padding: 20px;
		border-radius: 3px;
		transition: 0.2s;
		@media (hover: hover) {
			&:hover {
				border: 1px solid var(--main-color);
			}
		}
	}
	&__img {
		width: 140px;
		height: 45px;
		display: block;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
	}
	&__item-desc {
		display: flex;
		justify-content: space-between;
	}
	&__item-rate {
		padding-right: 15px;
	}
	.fas {
	}
	.fa-star-half-alt {
	}
}

/*===404 style===*/
.ff {
	&__section {
	}

	&__container {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__bg {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		// background: var(--main-color);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 50vw;
		font-weight: 700;
		-webkit-text-stroke: 3px var(--main-color);
		-webkit-text-fill-color: transparent;
		z-index: -1;
	}

	&__title,
	&__text {
		color: var(--text-white);
		background: rgba(#08bfcc, 0.8);
		max-width: 500px;
		width: 100%;
		text-align: center;
	}

	&__title {
		font-size: 50px;
		border-radius: 3px 3px 0 0;
		padding: 10px 0 0 0;
	}

	&__text {
		font-size: 20px;
		margin: 0;
		border-radius: 0 0 3px 3px;
		padding: 0 0 10px 0;
	}
}
