@charset "UTF-8";
/* переопределяем стили внутри редактора Wordpress 

.editor-post-title__block .editor-post-title__input,
.edit-post-visual-editor,
.edit-post-visual-editor p,
.edit-post-visual-editor__post-title-wrapper,
.block-editor-block-list__layout,
.editor-styles-wrapper {
  font-family: "Roboto", sans-serif !important;
  color: $text !important;
}
.editor-post-title .editor-post-title__input {
  font-size: calc(16px + 6 * ((100vw - 320px) / (1920 - 320))) !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
}
.edit-post-visual-editor,
.edit-post-visual-editor p,
.editor-rich-text__tinymce.mce-content-body {
  font-size: 16px;
  line-height: 1.5;
  color: $text;
  margin-bottom: 15px;
}
.has-drop-cap:not(:focus):first-letter {
  font-size: 100px;
  padding-bottom: 16px;
  margin: 9px 0px 0px -12px;
  font-weight: 300;
}
.wp-block {
  max-width: 800px;
}
.editor-styles-wrapper p {
  font-size: 16px !important;
  line-height: 1.5 !important;
  color: $text !important;
  margin-top: 0 !important;
  margin-bottom: 15px !important;
  min-height: 0 !important;
}
.block-editor-block-list__block {
  margin-top: 0;
}
.editor-styles-wrapper {
  font-size: 16px;
  line-height: 1.5;
}
.editor-styles-wrapper ul,
.editor-styles-wrapper ol {
  margin-bottom: 15px !important;
}
.wp-block-quote,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
  border-left: 4px solid #08bfcc;
  font-size: 14px !important;
  color: #08bfcc !important;
  font-style: italic;
}
.wp-block-quote__citation {
  font-size: 14px !important;
  color: #08bfcc !important;
  font-style: italic;
}
.wp-block-preformatted {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  padding: 15px;
  background: rgba(8, 191, 204, 0.1);
  border-radius: 3px;
  width: auto;
}
.wp-block-preformatted::before,
.wp-block-preformatted::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
}
.wp-block-preformatted::before {
  top: 0 !important;
  left: 0 !important;
  border-top: 4px solid #08bfcc;
  border-left: 4px solid #08bfcc;
}
.wp-block-preformatted::after {
  right: 0 !important;
  bottom: 0 !important;
  top: auto !important;
  left: auto !important;
  border-right: 4px solid #08bfcc;
  border-bottom: 4px solid #08bfcc;
} */
.edit-post-visual-editor * {
  font-family: "Roboto", sans-serif !important;
}

.editor-styles-wrapper {
  max-width: 900px;
  width: 100%;
  padding: 50px;
  margin: 0 auto;
  box-shadow: 0px 0px 20px 0px lightgray;
  background: #fff;
  border-radius: 6px;
}
.editor-styles-wrapper .wp-block-pullquote,
.editor-styles-wrapper .wp-block-quote {
  color: #08bfcc !important;
  font-style: italic;
  font-size: 1em;
  line-height: 1.8em;
}
.editor-styles-wrapper .wp-block-pullquote cite,
.editor-styles-wrapper .wp-block-pullquote footer,
.editor-styles-wrapper .wp-block-quote cite,
.editor-styles-wrapper .wp-block-quote footer {
  font-style: italic;
  text-transform: none;
}
.editor-styles-wrapper .wp-block-preformatted {
  position: relative;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.5em;
  padding: 15px;
  background: rgba(8, 191, 204, 0.1);
  border-radius: 3px;
  width: auto;
  margin: 1.5em 0;
}
.editor-styles-wrapper .wp-block-preformatted::before, .editor-styles-wrapper .wp-block-preformatted::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
}
.editor-styles-wrapper .wp-block-preformatted::before {
  top: 0;
  left: 0;
  border-top: 4px solid #08bfcc;
  border-left: 4px solid #08bfcc;
}
.editor-styles-wrapper .wp-block-preformatted::after {
  right: 0;
  bottom: 0;
  border-right: 4px solid #08bfcc;
  border-bottom: 4px solid #08bfcc;
}
.editor-styles-wrapper .wp-block-cover,
.editor-styles-wrapper .wp-block-image {
  margin: 0 -50px;
  max-width: calc(100% + 100px);
}
.editor-styles-wrapper .wp-block-cover img,
.editor-styles-wrapper .wp-block-image img {
  max-width: 100%;
}
.editor-styles-wrapper .wp-block-cover figcaption,
.editor-styles-wrapper .wp-block-image figcaption {
  color: #959595;
  font-size: 0.723em;
  text-align: center;
  font-style: italic;
}
.editor-styles-wrapper .wp-block-cover .components-resizable-box__container,
.editor-styles-wrapper .wp-block-image .components-resizable-box__container {
  min-width: 100%;
}
.editor-styles-wrapper .wp-block[data-align=left] > .wp-block-image {
  margin: 0.5em 1em 0.5em 0 !important;
}
.editor-styles-wrapper .wp-block[data-align=right] > .wp-block-image {
  margin: 0.5em 0 0.5em 1em !important;
}
.editor-styles-wrapper .wp-block[data-align=center] > .wp-block-image {
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;
}
.editor-styles-wrapper .wp-block-themeisle-blocks-slider {
  margin: 0 -50px !important;
  width: calc(100% + 100px) !important;
  max-width: 1000px;
}
.editor-styles-wrapper .wp-block-post-title {
  font-size: 1.5em;
}