/*===main style===*/

// ::-webkit-scrollbar {
// 	width: 10px;
// 	height: 5px;
// }
// ::-webkit-scrollbar-button {
// 	background-color: #666;
// }
// ::-webkit-scrollbar-track {
// 	background-color: #999999;
// }
// ::-webkit-scrollbar-track-piece {
// 	background-color: #ffffff;
// }
// ::-webkit-scrollbar-thumb {
// 	height: 50px;
// 	background-color: #666;
// }
// ::-webkit-resizer {
// 	background-color: #666;
// }
// .iScrollVerticalScrollbar {
// 	width: 10px !important;
// 	right: 0px !important;
// 	background-color: #ffffff !important;
// }
// .iScrollIndicator {
// 	border-radius: 0px !important;
// }

* {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	// padding: 0;
	// margin: 0;
}

html {
	scroll-behavior: smooth;
	// font-size: 18px;
	font-size: calc(14px + 4 * ((100vw - 320px) / (1920 - 320)));
	// line-height: 1.8em;
}
body {
	overflow-x: hidden !important;
	max-width: 100vw;
}

pre {
	white-space: pre-wrap;
}
button,
button:focus,
button:target,
button:active {
	outline: none !important;
	border: 0;
}

.header__wrap {
	max-width: 1830px;
	margin: 0 auto;
	padding: 0 15px;
}
.wrap {
	position: relative;
	display: grid;
	grid-template-rows: 105px auto 100px;
	grid-template-columns: minmax(5%, 1fr) minmax(0, 1600px) minmax(5%, 1fr);
	grid-template-areas:
		". . ."
		"left content right"
		". . .";
	margin: 0 auto;
	height: 100%;
	// min-height: 100vh;

	// .wrap--blog
	&--blog {
		grid-template-rows: 180px auto 100px;
		grid-template-columns: minmax(5%, 1fr) minmax(0, 1000px) minmax(5%, 1fr);
	}

	// .wrap--main-slider
	&--main-slider {
		grid-template-rows: 105px auto 10vh;
	}

	// .wrap--slide-cover
	&--slide-cover {
		grid-template-rows: auto 100px;
		grid-template-areas:
			". content ."
			". . .";
	}
	// .wrap--margin
	&--margin {
		grid-template-rows: 180px auto 100px;
	}

	// .wrap--footer
	&--footer {
		grid-template-rows: 105px auto auto auto 130px;
		grid-template-areas:
			". . ."
			". one ."
			"map map map"
			". two ."
			". . .";
	}
}

.hide {
	display: none !important;
}
.pointer-events-none {
	pointer-events: none !important;
}
.link {
	text-decoration: none;
	display: inline-block;
	color: $text;
	padding: 0;
	margin: 0;
}

.link-underline {
	position: relative;
	transition: all 0.2s;
	vertical-align: middle;
	line-height: 1;

	// .link-underline::before
	&::before {
		content: "";
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		width: 0;
		height: 2px;
		background-color: $main-color;
		transition: all 0.3s;
	}

	// .link-underline:hover
	@media (hover: hover) {
		&:hover {
			color: $accent-color;

			// .link-underline:hover::before
			&::before {
				background-color: $accent-color;
				width: 100%;
			}
		}
	}

	// .link-underline i
	& i {
		margin-right: 5px;
		vertical-align: middle;
	}
}

input,
textarea,
[contenteditable] {
	caret-color: $main-color;
	border-radius: 3px;
	border: solid 1px $main-color;
	// background: #ffffff !important;
	outline: none;
	padding: 6px 16px;
	font-size: 14px;
	line-height: 1.29;
	letter-spacing: 0.35px;
	color: $text;
	resize: none;
	-moz-appearance: textfield;

	// input:focus
	// textarea:focus
	&:focus {
		color: $text;
		border: solid 2px $accent-color;
		padding: 5px 15px;
		-moz-appearance: textfield;
	}

	// input:active
	// textarea:active
	// input:hover
	// textarea:hover
	&:active,
	&:hover {
		-moz-appearance: textfield;
	}

	// input::-webkit-inner-spin-button
	// textarea::-webkit-inner-spin-button
	&::-webkit-inner-spin-button {
		// display: none;
		cursor: pointer;
	}

	// input[type="search"]::-ms-clear
	// textarea[type="search"]::-ms-clear
	&[type="search"]::-ms-clear {
		// display: none;
		cursor: pointer;
	}

	// input[type="search"]::-webkit-search-cancel-button
	// textarea[type="search"]::-webkit-search-cancel-button
	&[type="search"]::-webkit-search-cancel-button {
		// display: none;
		cursor: pointer;
	}
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
	background-color: none !important;
	background-image: none !important;
	color: rgb(0, 0, 0) !important;
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}
input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
mark {
	background: $accent-color;
	color: $text-white;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: inherit;
}

// переносим стили из Гутенберга, которых не хватает почему-то блин

.wp-block-pullquote {
	border-top: 4px solid;
	border-bottom: 4px solid;
	margin-bottom: 1.75em;
	color: $main-color !important;
	font-style: italic;
	font-size: 1em;
	line-height: 1.8em;
}

.wp-block-quote {
	border-left: 0.25em solid;
	margin: 0 0 1.75em;
	padding-left: 1em;
	overflow-wrap: break-word;
	color: $main-color !important;
	font-style: italic;
	font-size: 1em;
	line-height: 1.8em;
}

.wp-block-pullquote cite,
.wp-block-pullquote footer,
.wp-block-quote cite,
.wp-block-quote footer {
	color: currentColor;
	font-size: 0.8125em;
	position: relative;
	font-style: italic;
	text-transform: none;
}
.wp-block-cover,
.wp-block-image {
	margin: 0 -50px;
	max-width: calc(100% + 100px) !important;
	img {
		max-width: 100%;
	}
	figcaption {
		color: $text-color-news-text;
		font-size: 0.723em;
		text-align: center;
		font-style: italic;
	}
	.alignleft {
		margin-left: 50px;
	}
	.alignright {
		margin-right: 50px;
	}
}

.wp-block-preformatted {
	position: relative;
	font-family: inherit;
	font-size: inherit;
	line-height: 1.5em;
	padding: 15px;
	background: rgba($color: #08bfcc, $alpha: 0.1);
	border-radius: 3px;
	width: auto;
	margin: 1.5em 0;
	&::before,
	&::after {
		position: absolute;
		content: "";
		width: 40px;
		height: 40px;
	}
	&::before {
		top: 0;
		left: 0;
		border-top: 4px solid $main-color;
		border-left: 4px solid $main-color;
	}
	&::after {
		right: 0;
		bottom: 0;
		border-right: 4px solid $main-color;
		border-bottom: 4px solid $main-color;
	}
}
.wp-block-file .wp-block-file__button {
	position: relative;
	background: $main-color;
	height: 42px;
	border-radius: 3px;
	font-size: 18px;
	padding: 10px 20px;
	@media (hover: hover) {
		&:hover {
			background: $accent-color;
		}
	}
}
.blocks-gallery-caption {
	color: #555;
	font-size: 13px;
	text-align: center;
}
.wp-block-themeisle-blocks-slider {
	margin: 0 -50px;
}

.swiper-pagination {
	z-index: 0 !important;
}

//medods-widget
.color-scheme__turquoise-ocean__primary-color {
	background-color: $main-color !important;
}
.medods-record-btn {
	cursor: pointer;
}

//contact-form-7
.wpcf7-not-valid-tip {
	position: absolute;
	top: -15px;
	right: 0;
	font-size: 12px;
	color: red;
}
// .wpcf7-response-output {
// 	position: absolute;
// 	top: 270px;
// 	left: 32px;
// 	color: red;
// 	background: transparent;
// 	border: none !important;
// 	width: 400px;
// 	max-width: 600px;
// 	font-size: 12px;
// 	padding: 0 !important;
// 	border-radius: 3px;
// }

//SweetAlert2
.swal2-container {
	.sweet-payment {
		// .swal2-container .sweet-payment__title
		&__title {
			margin-bottom: 10px;
			font-size: 20px;
			// font-weight: 600;
			font-weight: 500;
		}

		// .swal2-container .sweet-payment__text
		&__text {
			text-align: left;
			line-height: 1.3;
		}

		// .swal2-container .sweet-payment__img
		&__img {
			display: block;
			width: 310px;
			margin: 10px auto 25px;
		}

		// .swal2-container .sweet-payment__container
		&__container {
			text-align: left;

			// .swal2-container .sweet-payment__container .sweet-payment__title-btn
			.sweet-payment__title-btn {
				position: relative;
				display: inline-block;
				text-align: left;
				font-weight: 400;
				font-size: 16px;
				color: $main-color;
				transition: 0.3s;
				cursor: pointer;
				padding-left: 15px;

				// .swal2-container .sweet-payment__container .sweet-payment__title-btn::before
				// .swal2-container .sweet-payment__container .sweet-payment__title-btn::after
				&::before,
				&::after {
					position: absolute;
					content: "";
					width: 10px;
					height: 2px;
					top: 0;
					left: 0;
					bottom: 0;
					margin: auto;
					background: $main-color;
					border-radius: 3px;
					transition: 0.3s;
				}

				// .swal2-container .sweet-payment__container .sweet-payment__title-btn::after
				&::after {
					transform: rotate(90deg);
				}

				// .swal2-container .sweet-payment__container .sweet-payment__title-btn:hover
				@media (hover: hover) {
					&:hover {
						color: $accent-color;

						// .swal2-container .sweet-payment__container .sweet-payment__title-btn:hover::before
						// .swal2-container .sweet-payment__container .sweet-payment__title-btn:hover::after
						&::before,
						&::after {
							background: $accent-color;
						}
					}
				}

				// .swal2-container .sweet-payment__container .sweet-payment__title-btn--active
				&--active {
					// .swal2-container .sweet-payment__container .sweet-payment__title-btn--active::after
					&::after {
						transform: rotate(0deg);
					}
				}
			}
		}

		// .swal2-container .sweet-payment__container
		&__container {
			// .swal2-container .sweet-payment__container .sweet-payment__text
			.sweet-payment__text {
				overflow: hidden;
				max-height: 0;
				padding: 0 15px;
				background: rgba(#08bfcc, 0.2);
				margin-bottom: 20px;
				transition: 0.5s;

				// .swal2-container .sweet-payment__container .sweet-payment__text--active
				&--active {
					padding: 10px 15px;
					height: auto;
				}

				// .swal2-container .sweet-payment__container .sweet-payment__text:target
				&:target {
					padding: 10px 15px;
					max-height: 1000px;
				}
			}
		}
	}

	// .swal2-container button
	button {
		transition: 0.3s;
	}

	// .swal2-container .swal2-confirm
	.swal2-confirm {
		background: $main-color;

		// .swal2-container .swal2-confirm:hover
		@media (hover: hover) {
			&:hover {
				background: $accent-color !important;
			}
		}
	}

	// .swal2-container a
	a {
		color: $text-white;
	}

	// .swal2-container .swal2-html-container
	.swal2-html-container {
		margin-bottom: 15px;
	}
}

// переопределаяем ебучий envybox
.callbackkiller.cbk-phone.cbk-phone-pulse,
.callbackkiller.cbk-phone.cbk-phone-mobile-xs,
.callbackkiller.cbk-phone.cbk-phone-xs,
.callbackkiller.cbk-phone.cbk-phone-xs:hover {
	inset: auto 115px 15px auto !important;
	width: 65px !important;
	height: 65px !important;
	zoom: 1 !important;
	z-index: 2 !important;
	position: fixed !important;
	& .ws-icon-phone {
		font-size: 42px !important;
	}
	& .cbk-phone-bgr {
		background-color: #ffb601 !important;
	}
}

// переопределяем виджет с отзывами
.sw-app {
	margin: 0 !important;
}
