// //СПИСОК АКЦИЙ
// .page-sales {
//   // .page-sales__section
//   &__section {
//   }

//   // .page-sales__container
//   &__container {
//   }

//   // .page-sales__title
//   &__title {
//   }

//   // .page-sales__items
//   &__items {
//     display: flex;
//     justify-content: space-between;
//     margin-top: 60px;
//     flex-wrap: wrap;

//     // .page-sales__items + .section__description
//     & + .section__description {
//       margin-top: 80px;
//     }
//   }

//   // .page-sales__item-link
//   &__item-link {
//     padding: 0;
//     margin-bottom: 30px;
//     transition: all 0.3s;
//     width: 48.5%;

//     // .page-sales__item-link:hover
//     @media (hover: hover) {
//       &:hover {
//         box-shadow: $shadow-hover;
//         transform: translateY(-3px);
//       }
//     }
//   }

//   // .page-sales__item
//   &__item {
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
//     display: flex;

//     // .page-sales__item img
//     & img {
//       position: relative;
//       width: 35%;
//       height: 100%;
//       max-height: 200px;
//       display: block;
//       object-position: center;
//       object-fit: cover;
//     }
//   }

//   // .page-sales__item-text-box
//   &__item-text-box {
//     padding: 15px 25px;
//     overflow: hidden;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//   }

//   // .page-sales__item-date
//   &__item-date {
//     font-size: 12px;
//     color: $main-color;
//     margin-bottom: 10px;
//   }

//   // .page-sales__item-title
//   &__item-title {
//     font-size: 18px;
//     font-weight: 500;
//     line-height: 1.33;
//     color: $text;
//     margin-bottom: 10px;
//   }

//   // .page-sales__item-text
//   &__item-text {
//     font-size: 16px;
//     line-height: 1.5;
//     color: $text;
//     overflow: hidden;
//   }
// }

.page-sales__item.page-blog {
  // .page-sales__item.page-blog__item
  &__item {
    // .page-sales__item.page-blog__item::after
    &::after {
      background-color: rgba(107, 166, 182, 0.7);
    }

    // .page-sales__item.page-blog__item.active
    &.active {
      &::after {
        background-color: rgba(107, 166, 182, 0.1);
      }
      & .page-blog__item-date,
      & .page-blog__item-title,
      & .page-blog__item-text {
        color: inherit;
      }
    }

    // .page-sales__item.page-blog__item:hover::after
    @media (hover: hover) {
      &:hover::after {
        background-color: rgba(107, 166, 182, 0.1);
      }
      &:hover .page-blog__item-date,
      &:hover .page-blog__item-title,
      &:hover .page-blog__item-text {
        color: inherit;
      }
    }
  }
}

.page-sales__item .page-blog {
  // .page-sales__item .page-blog__item-date
  // .page-sales__item .page-blog__item-title
  // .page-sales__item .page-blog__item-text
  &__item-date,
  &__item-title,
  &__item-text {
    color: $text-white;
  }
}
