$main-color: #08bfcc;
$accent-color: #39b0d2;
$fu-color: #fbefdc;
$text-color-section-title: #838383;
$text: #404040;
$text-white: #fff;
$text-color-news-text: #959595;
$shadow-hover: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
$bg2: linear-gradient(to bottom left, #6ba6b6, #6ba6b6, #aaffe6);
$bg3: #fff;
$bg4: linear-gradient(12deg, #aaffe6, rgba(107, 166, 182, 0.52), rgba(107, 166, 182, 0.39), rgba(107, 166, 182, 0.21));
$bg5: linear-gradient(to bottom right, #aaffe6, #6ba6b6);
$bg7: linear-gradient(to bottom left, #6ba6b6, #6ba6b6, #aaffe6);
